<form action="/names" method="post">
  <label >Player 1 name:</label>
  <input type="text" name="Player_One_Name">
  <label >Player 2 name:</label>
  <input type="text" name="Player_Two_Name">
  <input type="submit" value="Submit">
</form>