<head>
  <title>Play</title>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>

<div class="container">
  <div class="child">
    <p>Player 1: <%= @game.player_one.name %></p>
  </div>
  <div class="child">
    <p>Player 2: <%= @game.player_two.name%></p>
    <p><%= @game.player_two.hit_points %>HP</p>
  </div>
</div>

<div class="container">
  <div class="child">
  <form action="/attacked" method="get">
    <input type="submit" value="Attack Player 2">
  </form>
  </div>
  <div class="child"></div>
</div>


